body {
	margin: 0px;
	padding: 0px;
	background-color: #CCCCCC;
}

.search-text {
	font-family: arial;
	font-size: 13px;
	color: #8B8B8B;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}
.search-text a{color:#8B8B8B; text-decoration:none;}
.search-text a:hover{color:#8B8B8B; text-decoration:underline;}
.phonen { width: 100%; background-color: #FF4000; margin: auto;}
.phonen span{ font-size: 1.2em; color: #fff; padding-left: 450px;}

.search-text-box {
	background-color: #D6D6D6;
	height: 22px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #8B8B8B;
	width: 170px;
}
.user-heading {
	font-family: arial;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}
.user-subheading {
	font-family: tahoma;
	font-size: 12px;
	line-height: 29px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}
.user-text-box{
	color: #000000;
	height: 17px;
	width: 90px;
}

.user-login {
	font-family: tahoma;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	background-color: #FFFFFF;
	height: 17px;
	width: 60px;
	padding-top: 3px;
	margin-top: 5px;
}
.user-login a{color:#000000; text-decoration:none;}
.user-login a:hover{color:#000000; text-decoration:underline;}

.grey-left {
	background-image: url(../images/grey-left.gif);
	background-repeat: no-repeat;
	height: 392px;
	width: 10px;
}
.grey-center {
	background-image: url(../images/grey-center.gif);
	background-repeat: repeat-x;
	height: 392px;
	width: auto;
}
.grey-right {

	background-image: url(../images/grey-right.gif);
	background-repeat: no-repeat;
	height: 392px;
	width: 10px;
}
.heading-grey {
	font-family: arial;
	font-size: 24px;
	color: #4F4E4E;
	text-decoration: none;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	padding-top: 12px;
}
.heading-red {
	font-family: arial;
	font-size: 24px;
	color: #9D2526;
	text-decoration: none;
	font-weight: normal;
}
.warea {
	font-family: arial;
	font-size: 13px;
	line-height: 22px;
	color: #4F4E4E;
	text-decoration: none;
	text-align: left;
	padding-left: 10px;
}

.warea li{ list-style-image:url(../images/list-ok.png);}
	
.warea-more {
	font-family: arial;
	font-size: 12px;
	line-height: 22px;
	color: #4F4E4E;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}
.warea-more a{color:#4F4E4E; text-decoration:none;}
.warea-more a:hover{color:#4F4E4E; text-decoration:underline;}

#video-spn {
width: 100%;
height: 60px;
color: #fff;
font-size: 1.5em;
text-transform: uppercase;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
background: #49c0f0; /* Old browsers */
background: -moz-linear-gradient(top, #49c0f0 0%, #2cafe3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2cafe3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #49c0f0 0%,#2cafe3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #49c0f0 0%,#2cafe3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #49c0f0 0%,#2cafe3 100%); /* IE10+ */
background: linear-gradient(to bottom, #49c0f0 0%,#2cafe3 100%); /* W3C */
display: inline;
float: left;
 }

/*  testimoniales  */

#testimonials{
	width: 375px;
	padding: 45px 45px 35px 90px;
	background:url('../img/quotes.png') no-repeat 20px 20px rgba(178,178,169,0.2);
	min-height:90px;
	
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}

#testimonials li{ display:none;}
#testimonials li:first-child{ display:block;}

#testimonials ul{ list-style:none;}
#testimonials p.text{ font-size:24px;}

#testimonials p.author{
	color: #878787;
    font-size: 16px;
    font-style: italic;
    text-align: right;
	margin-top:10px;
}

#testimonials p.author a,
#testimonials p.author a:visited{
	color:#6aa42a;
}

/*  fin testimoniales */
.latest-subheading {
	font-family: tahoma;
	font-size: 13px;
	line-height: 22px;
	font-weight: bold;
	color: #4F4E4E;
	text-decoration: none;
	text-align: left;
	padding-left: 10px;
}
.latest-subheading a{ color:#F60;
}
.newsletter-subheading {
	font-family: arial;
	font-size: 13px;
	line-height: 22px;
	font-weight: bold;
	color: #4F4E4E;
	text-decoration: none;
	text-align: left;
	padding-left: 31px;
}
.newsletter-text-box {
	color: #000000;
	height: 20px;
	margin-left: 31px;
	border: 1px solid #7B7B7B;
}
.newsletter-submit {
	font-family: arial;
	font-size: 13px;
	color: #4F4E4E;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	width: 60px;
	margin-left: 31px;
	margin-top: 4px;
	border: 1px solid #7B7B7B;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.newsletter-submit a{color:#4F4E4E; text-decoration:none;}
.newsletter-submit a:hover{color:#4F4E4E; text-decoration:underline;}

.heading-grey-bottom {

	font-family: arial;
	font-size: 24px;
	color: #4F4E4E;
	text-decoration: none;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
}
.footer-heading {
	font-family: verdana;
	font-size: 11px;
	line-height: 24px;
	font-weight: bold;
	color: #5F5757;
	text-decoration: none;
	text-align: center;
}
.footer-heading a{color:#5F5757; text-decoration:none;}
.footer-heading a:hover{color:#5F5757; text-decoration:underline;}

.footer-subheading {
	font-family: tahoma;
	font-size: 11px;
	line-height: 33px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	padding-bottom: 5px;
}
.latest-subheading-more {
	font-family: tahoma;
	font-size: 11px;
	line-height: 22px;
	font-weight: bold;
	color: #9D2526;
	text-decoration: none;
	text-align: right;
	padding-right: 15px;
}
.latest-subheading-more a{color:#9D2526; text-decoration:none;}
.latest-subheading-more a:hover{color:#9D2526; text-decoration:underline;}
