/* General page style. The scroll bar colours only visible in IE5.5+ */
body {
	background-color: #FFFFFF;
	scrollbar-face-color: #72A0DC;
	scrollbar-highlight-color: #72A0DC;
	scrollbar-shadow-color: #72A0DC;
	scrollbar-3dlight-color: #72A0DC;
	scrollbar-arrow-color: #E6E6E6;
	scrollbar-track-color: #E6E6E6;
	scrollbar-darkshadow-color: #72A0DC;
    margin: 0px;
}

/* Menu link */
.MenuLink, td.MenuLink{
	font-size 		: 8pt;
	color 			: #000000;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: normal;
}
a.MenuLink:link   	{ text-decoration: none; color : #000000; }
a.MenuLink:visited 	{ text-decoration: none; color : #000000; }
a.MenuLink:hover	{ text-decoration: none; color : #FF0000; }

/* Std bold link */
.stdBoldLink, td.stdBoldLink{
	font-size 		: 8pt;
	color 			: #000099;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: bold;
}
a.stdBoldLink:link   	{ text-decoration: none; color : #000099; }
a.stdBoldLink:visited 	{ text-decoration: none; color : #000099; }
a.stdBoldLink:hover		{ text-decoration: underline; color:#000099; }

.stdNormalLink {
	font-size 		: 9pt;
	color 			: #000099;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: bold;
}
td.stdNormalLink{
	font-size 		: 9pt;
	color 			: #000000;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: normal;
}
a.stdNormalLink:link   	{ text-decoration: none; color : #000099; }
a.stdNormalLink:visited 	{ text-decoration: none; color : #000099; }
a.stdNormalLink:hover		{ text-decoration: underline; color:#000099; }

/* Std bold link */
.stdLink, td.stdLink{
	font-size 		: 8pt;
	color 			: #006600;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: normal;
}
a.stdLink:link   	{ text-decoration: none; color : #006600; }
a.stdLink:visited 	{ text-decoration: none; color : #006600; }
a.stdLink:hover		{ text-decoration: underline; color:#006600 }

/* Normal link */
.normalLink, td.normalLink{
	font-size 		: 8pt;
	color 			: #000000;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: normal;
}
a.normalLink:link   	{ text-decoration: none; color : #000000; }
a.normalLink:visited 	{ text-decoration: none; color : #000000; }
a.normalLink:hover		{ text-decoration: underline; color : #000000; }

/* Action link */
.actionLink, td.actionLink{
	font-size 		: 8pt;
	color 			: #000000;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: normal;
}
a.actionLink:link   	{ text-decoration: none; color : #000000; }
a.actionLink:visited 	{ text-decoration: none; color : #000000; }
a.actionLink:hover		{ text-decoration: underline; color : #72A0DC; }

/* Normal link */
.smallLink, td.smallLink{
	font-size 		: 8pt;
	color 			: #666666;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: normal;
}
a.smallLink:link   	{ text-decoration: none; color : #666666; }
a.smallLink:visited { text-decoration: none; color : #666666; }
a.smallLink:hover	{ text-decoration: underline; color : #72A7D3; }

/* Other link */
.otherLink, td.otherLink{
	font-size 		: 10pt;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: bold;
	color 			: #000000;
}
a.otherLink:link   	{ text-decoration: none; color : #000000; }
a.otherLink:visited { text-decoration: none; color : #000000; }
a.otherLink:hover	{ text-decoration: underline; color : #FF6600; }

/* Page link */
.pageLink, td.pageLink{
	font-size 		: 8pt;
	color 			: #444444;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: bold;
}
a.pageLink:link   	{ text-decoration: none; color : #444444; }
a.pageLink:visited 	{ text-decoration: none; color : #444444; }
a.pageLink:hover	{ text-decoration: underline; color : #444444; }

.activePage {
	font-size 		: 8pt;
	color 			: #FF0000;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: bold;
}

.disabledText {
	font-size 		: 8pt;
	color 			: #888888;
	font-family		: Tahoma, Verdana, Arial;
	font-weight		: bold;
}

.imgAction {
	cursor			: hand;
	border			: 0;
}

.imgAction2 {
	cursor			: hand;
	border			: 0;
}

/* Form elements */
input,textarea, select {
	font-size 			: 8pt;
	color 				: #000000;
	font-family			: Tahoma, Verdana, Arial;
	font-weight			: normal;
	border				: 1px #999999 solid;
}

input.stdButton {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	border			: #80ACE6 1px solid;
	background-color: #B4D5ED;
}

input.greyButton {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	border			: #000000 1px solid;
	background-color: #EFEFEF;
}

input.stdFilterButton {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	border			: #80ACE6 1px solid;
	background-color: #F0FBFF;
}

/* Check Box */
input.stdCheckBox {
   	border			: 0 solid #000099;
}

input.stdRadion {
   	border			: 0 solid #000099;
}

td.stdSectionHeader {
	background-image: url(../images/menuspacer.gif);
	height			: 22px;
}

td.stdSection {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #000000;
	padding-left	: 2px;
	padding-right	: 2px;
}

td.stdSubSection {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #000000;
	background-color: #80ACE6;
	height			: 22px;
}

table.stdTableBorder {
	border			: 1px solid #88B6D8;
}

table.stdTableBorderPopUp {
	border			: 1px solid #E3E3E1;
}

table.stdTable {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	background-color: #E6E6E6;
}

.imgAction {
	cursor			: hand;
	border			: 0;
	height			: 16px;
}

/* Td default style */
td{
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
}

/* Field Label */
td.fieldLabelBold{
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #000000;
}

td.fieldLabelRight{
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #444444;
	text-align		: right;
	background-color: #EFEFEF;
}

td.fieldLabelLeft{
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	text-align		: left;
	background-color: #F7F7F7;
	padding-left	: 5px;
	padding-top		: 2px;
}

td.fieldValueLeft {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	border-bottom	: 1px solid #DDDDDD;
	padding-left	: 5px;
	padding-top		: 2px;
}

td.fieldInputStyle {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	/*background-color: #F0FBFF;*/
	background-color:#FFF0F8;
	padding-left	: 5px;
	padding-top		: 2px;
}

/* Text */
td.boldText{
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #000000;
}

.normalText{
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
}

.filterText {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	background-color: #F7F7F7;
	padding-left	: 5px;
	padding-top		: 2px;
}

/* Header */
td.listHeader {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #222222;
	text-align		: center;
	background-color: #B4D5ED;
	height			: 22px;
	border-top		: 1px #72A7D3 solid;
}

td.listHeaderLeft {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #444444;
	text-align		: left;
	background-color:#EFEFEF;
	height			: 20px;
}

/* Record  */

tr.list_A {
	font-family		: Arial, Verdana, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	padding-left	: 5px;
	height			: 20px;
	background-color: #F4FFFF;
}

tr.list_B {
	font-family		: Arial, Verdana, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	padding-left	: 5px;
	height			: 20px;
	background-color: #FFF0F8;
}
tr.list_C {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	padding-left	: 5px;
	height			: 20px;
	background-color: #EFEFEF;
}

/*  Message */
.errorMsg{
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #FF0000;
}

.successMsg {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #006633
}

hr {
	height			: 1px;
	border-color	: #000000;
	width			: 95%;
}

td.divider {
	height			: 1px;
	background-color: #88B6D8;
	width			: 95%;
}

.mandatory {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #FF0000;
}

.mandatoryMark {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #FF0000;
}

.validationText {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #FF0000;
}

/* Copyright and bottom info */
.copyright{
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	color			: #000000;
	text-decoration	: none;
}
a.copyright			{ text-decoration: none; 	color: #000000; }
a.copyright:link   	{ text-decoration: none; 	color: #000000; }
a.copyright:visited { text-decoration: none; 	color: #000000; }
a.copyright:hover 	{ text-decoration: none;	color: #2F5B9A; }

/* for calender*/
table.calBorder {
	font-size		: 8pt;
	font-family		: Tahoma, Verdana, Arial;
	color			: #000000;
	font-weight		: normal;
	border			: #C33030 1px solid;
}

tr.calHeader{
	font-size		: 8pt;
	font-family		: Tahoma, Verdana, Arial;
	color			: #FFFFFF;
	font-weight		: normal;
	background-color: #990000;
}

tr.calFooter{
	font-size		: 8pt;
	font-family		: Tahoma, Verdana, Arial;
	color			: #000000;
	font-weight		: normal;
	background-color: #FBF1DD;
}

.calFocusButton{
	font-size		: 8pt;
	font-family		: Tahoma, Verdana, Arial;
	color			: #FFFFFF;
	font-weight		: bold;
	border			: #FF0000 1px solid;
	cursor			: pointer;
}

.calFocusLostButton{
	font-size		: 8pt;
	font-family		: Tahoma, Verdana, Arial;
	color			: #FFFFFF;
	font-weight		: bold;
	border			: #FF9090 1px solid;
	cursor			: pointer;
}

.style7 {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.style9 {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 18px; }
.Estilo10 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
.Estilo11 {font-size: 12px}
.Estilo12 {font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.Estilo13 {font-family: Arial, Helvetica, sans-serif}
.Estilo14 {color: #FF0000}
.Estilo15 {font-family: Verdana, Arial, Helvetica, sans-serif; color: #666666; font-size: 11px; }
.Estilo16 {
	font-size: 14px;
	font-weight: bold;
}
.Estilo5 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
.Estilo22 {color: #FFFFFF}

