*{
	margin: 0;
	padding: 0;
	/*font-family: 'Raleway', sans-serif, arial;*/
}
.res-btn { display: flex; flex-direction: column-reverse; padding-left: 12px; padding-right: 12px; }	
.navbar-header { height: 80px;}
.tel-box {background-color: #FE2E2E; margin-top: 80px; font-size: 1.4em; color: #fff;} 
.services-ribbon {background-color: #04B431; font-size: 2em; color: #fff;}
.reservation-ribbon {
height: 135px;
background: #00a3f4; /* Old browsers */
background: -moz-linear-gradient(left, #00a3f4 0%, #007da0 0%, #009eba 23%, #00b8c9 48%, #00aaba 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #00a3f4 0%,#007da0 0%,#009eba 23%,#00b8c9 48%,#00aaba 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #00a3f4 0%,#007da0 0%,#009eba 23%,#00b8c9 48%,#00aaba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3f4', endColorstr='#00aaba',GradientType=1 ); /* IE6-9 */
} 
#cunshuttle-mainbaner {background: url(../images/bg-cancunshuttle-resbox.jpg) no-repeat center; min-height: 350px;}
#footer {background-color: #0B0719;}
.cunshuttle-rbx-mb {background: url(../images/bg-rbox-cancun-transfers.png) fixed center; border-radius: 15px; margin-top: 30px; margin-left: 30px; min-width: 320px; min-height: 250px;}
.frm-res {
	font-family: 'Muli', sans-serif;
}
.frm-res label {
	font-size: 14px;
	color: #151515;
	font-weight: 400;
}
.btn-send {
	display: flex;
	justify-content: flex-end;
}
.font-bl-17 { font-size: 1.8em; color: #DF0101;}
.font-gs-20 { font-size: 2em; color: #B45F04;}
.font-bl1-20 { font-size: 2em; color: #0489B1;}
.font-gr-20 { font-size: 2.2em; color: #04B45F;}
.font-bn1-15 { font-size: 1.6em; color: #FFF;}
.font-bn1-10 { font-size: 1.1em; color: #FFF; font-weight: bold;}
.font-rd-17 { font-size: 1.7em; color: #FF0040;}
