<form id="form1" name="form1" method="post" action="envio.php">
<table width="200" border="0">
  <tr>
    <td>Name<br /></td>
    <td><input type="text" name="nombre" id="textfield" /></td>
  </tr>
   <tr>
    <td>E-mail<br /></td>
    <td><input type="text" name="mail" id="textfield" /></td>

  </tr>
  <tr>
    <td>City / Country<br /></td>
    <td><input type="text" name="pais" id="textfield" /></td>
  </tr>
  <tr>
    <td>Phone<br /></td>
    <td><input type="text" name="telefono" id="textfield" /></td>

  </tr>
  <tr>
    <td>Your Comment</td>
    <td><textarea name="comentario" id="textarea" cols="35" rows="5"></textarea></td>
  </tr>
   <tr>
    <td>Select</td>
    <td>Arrival <input name="tipo" type="radio" value="llegada" /> &nbsp; Depature<input name="tipo" type="radio" value="salida" /> &nbsp; Round Trip<input name="tipo" type="radio" value="roundtrip" /></td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>Type your hotel: <br /><input type="text" name="hotel" id="textfield" />
</td>
  </tr>
    <tr>
    <td>&nbsp;</td>
    <td>Airline &  Flight Number: <br /><input type="text" name="vuelo" id="textfield" />&nbsp; Format Airline - 1234</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Arrival Date & time <br /><input type="text" name="llegadavlo" id="textfield">&nbsp; Format dd/mm/yyyy - hh:mm am/pm</td>
  </tr>
   <tr>
    <td>&nbsp;</td>
    <td>Depature Date & time <br /><input type="text" name="salidavlo" id="textfield">&nbsp; Format dd/mm/yyyy - hh:mm am/pm</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>Passenger number<br /><input type="text" name="pasajeros" id="textfield"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Send" /></td>

  </tr>
</table>