<form id="form1" name="form1" method="post" action="envio2.php">
<table width="200" border="0">
  <tr>
    <td>Name<br /></td>
    <td><input type="text" name="nombre" id="textfield" /></td>
  </tr>
   <tr>
    <td>E-mail<br /></td>
    <td><input type="text" name="mail" id="textfield" /></td>
  </tr>
  <tr>
    <td>City / Country<br /></td>
    <td><input type="text" name="pais" id="textfield" /></td>
  </tr>
  <tr>
    <td>Contact Phone<br /></td>
    <td><input type="text" name="telefono" id="textfield" /></td>
  </tr>
  <tr>
    <td>You Comments Thanks</td>
    <td><textarea name="comentario" id="textarea" cols="30" rows="5"></textarea></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Send" /></td>
  </tr>
</table> 
