body  {
	scrollbar-face-color: #626057;
	scrollbar-shadow-color: #ffffff; 
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #ffffff;
	font:Verdana, Arial, Helvetica, sans-serif;
	size:8pt;
	color:#000000;
	font-weight:normal;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#004B6D;
	font-size:16px;
	background-image: url(images/hback.gif);
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#004B6D;
	font-size:14px;
	background:transparent;
}

tr, td, table {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}