body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: #626469;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}

.header_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #767A7D;
	text-decoration: none;
}
a.header_link			{ text-decoration: none; 	color: #767A7D; }
a.header_link:link   	{ text-decoration: none; 	color: #767A7D; }
a.header_link:visited	{ text-decoration: none; 	color: #767A7D; }
a.header_link:hover 	{ text-decoration: none;	color: #FF0000; }

.header_link_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color:#FF0000;
	text-decoration: none;
}
a.header_link_red			{ text-decoration: none; 	color: #FF0000; }
a.header_link_red:link   	{ text-decoration: none; 	color: #FF0000; }
a.header_link_red:visited	{ text-decoration: none; 	color: #FF0000; }
a.header_link_red:hover 	{ text-decoration: none;	color: #FF0000; }

.border {
	border: 1px solid #B5B5B5;
}
.white_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #626469;
	text-decoration: none;
}
.heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #626469;
	text-decoration: none;
}
.arial12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.arial14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #F70400;
	text-decoration: none;
}


.message {
	color:#FF0000;
}

/* Copyright and bottom info */
.copyright{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #626469;
	text-decoration: none;
}
a.copyright			{ text-decoration: none; 	color: #626469; }
a.copyright:link   	{ text-decoration: none; 	color: #626469; }
a.copyright:visited { text-decoration: none; 	color: #626469; }
a.copyright:hover 	{ text-decoration: none;	color: #FF0000; }