.text_content {	font-family: Tahoma;
	font-size: 10px;
	color: #223E63;
}
.texto_content {font-family: Tahoma; font-size: 11px; color: #333333; }

.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.Estilo2 {font-family: Tahoma; font-size: 12px; }
.Estilo3 {
	font-family: "Arial Black";
	font-size: 12px;
	color: #007abe;
}
.Estilo4 {font-size: 18px}
.Estilo6 {font-size: 13px}
.Estilo7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.Estilo8 {
	color: #007ABD;
	font-family: Tahoma;
}
.Estilo91 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.Estilo9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}
.Estilo10 {font-size: 11px}
.Estilo11 {font-family: Tahoma; font-size: 11px; color: #666666; }
.Estilo12 {
	color: #007abe;
	font-size: 11px;
}
.Estilo13 {color: #FF0000}
.Estilo14 {font-family: Tahoma; font-size: 12px; color: #666666; }
.Estilo15 {
	font-family: Tahoma;
	font-size: 10px;
	color: #333333;
}
.Estilo17 {font-size: 10px; font-family: Tahoma;}
.Estilo19 {font-family: Tahoma; font-size: 11px; color: #223E63; }
.Estilo20 {color: #FFFFFF}
.Estilo22 {font-size: 26px}
.Estilo23 {color: #333333}
.Estilo24 {font-size: 11px}
.Estilo25 {color: #FFFFFF}
.Estilo27 {
	font-weight: bold;
	font-family: Tahoma;
	color: #006699;
}

.Estilo30 {font-size: 11px;	font-family: Tahoma;}
.Estilo31 {font-size: 11px; font-family: Tahoma; color: #006699; }
.Estilo32 {font-size: 11px; font-family: Tahoma; color: #006699;}
.Estilo33 {color: #333333; font-size: 11px; font-family: Tahoma; }
.Estilo34 {font-size: 11px; color: #333333; }
.Estilo35 {font-size: 11px; font-family: Tahoma; color: #666666; }
.Estilo36 {color: #333333}
.Estilo37 {font-size: 11px; font-family: Tahoma; color: #333333; }
.Estilo38 {
	font-size: 16px;
	color: #007ABE;
}
.Estilo39 {
	font-size: 16px;
	font-family: Tahoma;
	color: #007ABE;
}

/*
.Estilo34 {
	font-size: 11px;
	font-family: Tahoma;
	color: #007ABE;
	font-weight: bold;
}

.Estilo9 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
*/


.validationText {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #FF0000;
}


a:link {
	font-family: Tahoma;
	text-decoration: none;
	color: #333333;
}
a:visited {
	font-family: Tahoma;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-family: Tahoma;
	color: #FF6600;
	text-decoration: none;
}


/* Field Label */
td.fieldLabelRight{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #444444;
	text-align		: right;
}

td.fieldLabelLeft{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #010369;
	text-align		: left;
}

td.fieldLabelJustify{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #010369;
	text-align		: justify;
}
td{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
}

/* Text */
td.centertext{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #000000;
	text-align		: center;
}

td.righttext{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 9pt;
	font-weight		: normal;
	color			: #000000;
	text-align		: right;
}

td.lefttext{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 9pt;
	font-weight		: bold;
	color			: #000000;
	text-align		: left;
}

td.boldText{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #010369;
}

td.boldTextRight{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #010369;
	text-align		: right;
}

td.lightgreyLink{
	font-size 		: 7pt;
	color 			: #FFFFFF;
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-weight		: normal;
}


/* normal text */
td.normalText{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 9pt;
	color			: #010369;
}

td.whiteText{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 7pt;
	font-weight		: bold;
	color			: #FFFFFF;
}

td.whiteText1{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #FFFFFF;
}
td.blackText{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 7pt;
	font-weight		: normal;
	color			: #000000;
}
td.blueText{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #FFFFFF;
	background-color: #5270A1;
}
td.blueText1{
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #1750A6;

}

td.listHeader {
	font-family		: Tahoma, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: bold;
	height			: 20px;
	color			: #234C77;
	text-align		: center;
	text-decoration	: none;
	background-color: #BDC3DE;
	border-bottom	: 1px solid #7089A3;
	padding			: 3px;
}
td.successMsg {
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #0059A5;
	text-align		: center;
}

.listHeader {
	font-size 		: 8pt;
	color 			: #234C77;
	font-family		: Tahoma, Arial, Helvetica, sans-serif;
	font-weight		: bold;
}
a.listHeader:link   	{ text-decoration: none; color : #234C77; }
a.listHeader:visited 	{ text-decoration: none; color : #234C77; }
a.listHeader:hover		{ text-decoration: underline; color : #234C77; }

input.stdButton {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	border			: #80ACE6 1px solid;
	background-color: #B4D5ED;
}

input.greyButton {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	border			: #000000 1px solid;
	background-color: #EFEFEF;
}


.style2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #FFFFFF;
}


.whitebold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.blackbold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.bluetable {
	background:#5270A2;
}


/* CSS Template Functionality */
img.tmplGetFocus{
	border				: #000066 3px solid;
}

img.tmplLostFocus{
	border				: #999999 3px solid;
}

img.tmplSelected{
	border				: #990066 3px solid;
}

img.propertyImage {
	border				: 1 solid #000000;
}
img.hand{
  cursor : hand;
}
errorMsg {
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: bold;
	color			: #990033;
}
.dynCalendar_header{
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 10pt;
	font-weight: bold;
}
.dynCalendar_dayname {
	background-color: #eeeeee;
	border: 1px solid #c0c0c0;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 8pt;
	text-align: center;
}

.dynCalendar_day {
	background-color: #eeeeee;
	color: #000000;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 8pt;
}

.dynCalendar_today {
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 8pt;
}

.dynCalendar {
	background-color: #c0c0c0;
	border: 2px outset white;
	visibility: hidden;
	position: absolute;
	top: 1px;
	left: 1px;
}

.black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #5C6021;
	text-decoration: none;
}
.border {
	background-color: #F6F7EA;
	border: 1px solid #8E9334;
}
.borderblue {
	background-color: #C3D2EA;
	border: 1px solid #4975BE;
}
.borderblack {
	border: 1px solid #676767;
}
.borderred {
	background-color: #E7C3C4;
	border: 1px solid #B5464C;
}
.bigwhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.gray {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.graybold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.green10 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #5C6021;
	text-decoration: none;
}

.red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
/*
.redwhiteborder {
	border: 1px solid #B5474D;
}
*/

.bigblack {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.marunhed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #B5464C;
	text-decoration: none;
}
.white {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #62668C;
	text-decoration: none;
}
.whitebold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.blackbold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.marun10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #B5464C;
	text-decoration: none;
}
.marunnormal {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #B5464C;
	text-decoration: none;
}
.rednormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.bluehed {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #195C86;
	text-decoration: none;
}
.linktable{
	background-color:#C5C5C5;
	
}


.lightgreyLink {
	font-size 		: 7pt;
	color 			: #666666;
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-weight		: normal;
}
a.lightgreyLink:link   	{ text-decoration: none; color : #666666; }
a.lightgreyLink:visited { text-decoration: none; color : #666666; }
a.lightgreyLink:hover	{ text-decoration: none; color : #5271A5; }



/* Record  */

tr.list_A {
	font-family		: Arial, Verdana, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	padding-left	: 5px;
	height			: 20px;
	background-color: #F4FFFF;
}

tr.list_B {
	font-family		: Arial, Verdana, Helvetica, sans-serif;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	padding-left	: 5px;
	height			: 20px;
	background-color: #F3F3F3;
}
tr.list_C {
	font-family		: Tahoma, Verdana, Arial;
	font-size		: 8pt;
	font-weight		: normal;
	color			: #000000;
	padding-left	: 5px;
	height			: 20px;
	background-color: #EFEFEF;
}

/* Detail's Title Text link */
.titleWhiteLink {
	font-size 		: 8pt;
	color 			: #FFFFFF;
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	font-weight		: bold;
	/*5270A1*/
}
a.titleWhiteLink:link   	{ text-decoration: none; color : #FFFFFF; }
a.titleWhiteLink:visited { text-decoration: none; color : #FFFFFF; }
a.titleWhiteLink:hover	{ text-decoration: none; color : #EFEBEF; }

table.calBorder {
	font-size		: 8pt;
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	color			: #000000;
	font-weight		: normal;
	border			: #3573AB 1px solid;
	background-color:#FFFFFF;
}

tr.calHeader{
	font-size		: 8pt;
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	color			: #FFFFFF;
	font-weight		: normal;
	background-color: #3573AB;
}

tr.calFooter{
	font-size		: 8pt;
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	color			: #000000;
	font-weight		: normal;
	background-color: #FBF1DD;
}

.calFocusButton{
	font-size		: 8pt;
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	color			: #FFFFFF;
	font-weight		: bold;
	border			: #FFFFFF 1px solid;
	cursor			: pointer;
}

.calFocusLostButton{
	font-size		: 8pt;
	font-family		: Verdana, Arial, Helvetica, sans-serif;
	color			: #FFFFFF;
	font-weight		: bold;
	border			: #C9D2E0 1px solid;
	cursor			: pointer;
}