<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" background="{$Templates_Image}footerspacer.gif" >
	<tr>
		<td width="60%" >&nbsp;&nbsp;{$Copyright_Text}</td>
		<td width="40%" height="24" align="right" >{$Powered_By}&nbsp;&nbsp;</td>
	</tr>
</table>