<table border="0" cellpadding="0" cellspacing="1" width="100%" class="stdTableBorder" height="100%">
  <tr>
	<td class="stdSectionHeader">
		<table border="0" cellpadding="0" cellspacing="1" width="100%">
			<tr>
				<td class="stdSection" width="1%"><img src="{$Templates_Image}icon_myaccount.gif"></td>
				<td class="stdSection" width="49%">&nbsp;Home</td>
				<td align="right" width="50%">&nbsp;</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td valign="top" align="center">
		<br><br>
		<table border="0" cellpadding="0" cellspacing="1" width="100%">
			<tr>
				<td width="5%">&nbsp;</td>
				<td width="42%" align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="listHeaderLeft" width="5%">
								<img src="{$Templates_Image}icon_support.gif">&nbsp;
							</td>
							<td width="95%" class="listHeaderLeft">
								Contact Us
							</td>
						</tr>
						<tr><td height="5" colspan="2"></td></tr>
						<tr>
							<td align="center" colspan="2">
								<table border="0" cellpadding="3" cellspacing="0" width="85%">
									<!--tr>
										<td width="5%">&bull;</td>
										<td width="95%"><a href="#" class="normalLink">FAQ</a></td>
									</tr-->
									<tr>
										<td width="5%">&bull;</td>
										<td width="95%"><a href="mailto:customers@pimsa.com"class="normalLink">Support</a></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td height="5" colspan="2"></td></tr>
					</table>
				</td>
				<td width="6%">&nbsp;</td>
				<td width="42%" align="center" valign="top">
					<!--<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td class="listHeaderLeft" width="5%">
								<img src="{$Templates_Image}icon_quicklink.gif">&nbsp;
							</td>
							<td width="95%" class="listHeaderLeft">
								Quick Launch
							</td>
						</tr>
						<tr><td height="5" colspan="2"></td></tr>
						<tr>
							<td align="center" colspan="2">
								<table border="0" cellpadding="3" cellspacing="0" width="85%">
									<tr>
										<td width="5%">&bull;</td>
										<td width="95%"><a href="page.php" class="normalLink">Page Manager</a></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td height="5" colspan="2"></td></tr>
					</table>-->
				</td>
				<td width="5%">&nbsp;</td>
			</tr>
		</table>
	</td>
  </tr>
</table>