<table border="0" cellpadding="0" cellspacing="1" width="100%" class="stdTableBorder" height="97%">
<form name="frmNews" action="{$A_News}" method="post" enctype="multipart/form-data">
	<tr>
		<td class="stdSectionHeader">
			<table border="0" cellpadding="0" cellspacing="1" width="100%">
				<tr>
					<td class="stdSection" width="1%"><img src="{$Templates_Image}icon_master.gif" height="16"></td>
					<td class="stdSection" width="49%">Newsletter Manager [{$Action}]</td>
					<!--td class="stdSection" width="50%" align="right"><img src="{$Templates_Image}icon_help.gif" title="Help">&nbsp;</td-->
				</tr>
			</table>
		</td>
	</tr>
	</tr>				
	<tr>
		<td align="center">
		<table border="0" cellpadding="3" cellspacing="0" width="100%" align="center">
			<tr> 
			  <td align="center" class="successMsg" colspan="2">{$Message}</td>
			</tr>
			<tr>
				<td colspan="2">
					<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td width="16"><a href="{$Back_Url}" class="smallLink"><img src="{$Templates_Image}t_back.gif" border="0" width="16"></a>&nbsp;</td>
							<td><a href="{$Back_Url}" class="smallLink">Back</a></td>
						</tr>
						<tr><td colspan="2" height="10"></td></tr>
					</table>
				</td>
			</tr>
			<tr>
			  <td colspan="2">&nbsp;</td>
			</tr>
			<tr align="center"> 
			  <td colspan="2" align="center" class="boldText">Newsletter</td>
			</tr>
			<!--tr align="center"> 
			  <td colspan="2" align="center">{$newsletter1}</td>
			</tr-->
			<tr>
			  <td width="30%" align="center" valign="top">&nbsp;</td>
			  <td width="70%">&nbsp;</td>
			</tr>
			<tr> 
			  <td valign="top" align="right">Email : </td>
			   <td valign="baseline"><textarea  name="email_to" id="email_to" rows="5" cols="50" readonly >{$email_to}</textarea>
				<!--a href="#" onClick="javascript: return popupWindowURL('newsletter.php?Action=Contact', 'contactlist',  '600', '400', false, true, true) ;" class="smallLink">Select Contacts</a-->
				<a href="#" onClick="javascript: Select_Contact('email_to');" class="smallLink">Select Contacts</a>
			   </td>
			</tr>
			<tr>
				<td valign="top" align="right">Subject : </td>
				<td colspan="2"><input name="email_subject" type="text" id="email_subject" value="{$email_subject}" size="50"></td>
			  </tr>
			<tr> 
			  <td height="21" colspan="2">&nbsp;</td>
			</tr>
			<tr> 
			  
			  <td colspan="2" align="center"> <input type="submit" name="Submit" value="Send Mail" class="stdButton" onClick="javascript: return Form_Submit_Send(frmNews);"> 
				&nbsp;&nbsp;
				<input name="Submit" type="reset" class="stdButton" id="Submit" value="Reset">
				&nbsp;&nbsp;
				<input type="submit" name="Submit" value="Cancel" class="stdButton"> 
				<input type="hidden" name="Action" value="{$ACTION}">
				<input type="hidden" name="newsletter_id" value="{$Newsletter->newsletter_id}"> 
				<!--input type="hidden" name="Start" value="{$Start}"--> 
				<!--input type="hidden" name="email_selected" value="{$Email_Selected}"-->
			  </td>
			</tr>
			<tr> 
			  <td>&nbsp;</td>
			  <td height="25" >&nbsp;</td>
			</tr>
			<tr align="center">
			  <td width="30%">&nbsp;</td>
			  <td align="left">
			  	<table bordercolor="#990000" class="stdTableBorder" width="50%">
					<tr>
						<td class="stdSectionHeader"></td>
					</tr>
					<tr>
						<td>{$Newsletter->newsletter_desc}</td>
					</tr>
				</table>
				</td>
			 </tr>
		   <tr>
			<td colspan="2">
		<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td width="16"><a href="{$Back_Url}" class="smallLink"><img src="{$Templates_Image}t_back.gif" border="0" width="16"></a>&nbsp;</td>
				<td><a href="{$Back_Url}" class="smallLink">Back</a></td>
			</tr>
			<tr><td colspan="2" height="10"></td></tr>
		</table>
		</td>
			</tr>
	  </table>
	<br>
		</td>
	</tr>
</form>
 </table>
	