<form name="frmPayment" action="{$A_Payment}" method="post" enctype="multipart/form-data">
<table border="0" align="center" cellpadding="0" cellspacing="0" width="750">
	<tr>
    	<td>
        	<table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
			   <tr>
		          <td align="left">
                      <table border="0" cellpadding="2" cellspacing="2" width="98%">	
<!--							<tr> 
						 	 	<td colspan="4" height="1" bgcolor="#000066"></td>
							</tr>
-->							<tr> 
						  		<td colspan="4" class="blueHeader">{$L_Reservation_Details} ->{$L_approveRequest}-> {$L_ConfirmationNo}&nbsp;:&nbsp;{$V_ConfirmationNo}</td>
							</tr>
<!--							<tr> 
						  		<td colspan="4" height="1" bgcolor="#000066"></td>
							</tr>
-->							<tr><td align="center" class="errorMsg" colspan="2">{$ErrorMsg}</td></tr>
							<tr>
								<td class="fieldLabelRight" valign="top" width="25%">{$L_To} :</td>
								<td valign="top">&nbsp;{$Email}&nbsp;[&nbsp;{$Firstname}&nbsp;{$Lastname}&nbsp;]</td>
							</tr>
							<tr>
								<td class="fieldLabelRight" valign="top">{$L_From} :</td>
								<td>&nbsp;{$adminEmail}</td>
							</tr>
							<tr>
								<td class="fieldLabelRight" valign="top">{$L_subject} :</td>
								<td>&nbsp;<input type="text" name="subject" value="{$V_subject}" size="50" maxlength="100"></td>
							</tr>
<!--							<tr><td colspan="2"><hr></td></tr>
-->							<tr>
								<td class="fieldLabelRight" valign="top">{$L_message} :</td>
								<td align="left" valign="top"><textarea name="message" rows="15" cols="90"  {$read}>{$V_message}</textarea></td>
							</tr>
							
							<tr>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td height="21" colspan="2" class="errorMsg" align="center">{$L_Note}&nbsp;:&nbsp;{$adminMessage}</td>
							</tr>
	                </table>
				</td>
			</tr>
		</table>
	 </td>
 </tr>
</table>
 <br>
		<table border="0" cellpadding="0" cellspacing="1" width="100%">
			<tr>
				 <td>
					<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FFFFFF">
						<tr>
							<td align="center">
								<input type="submit" name="Submit" value="{$Send}" class="greyButton" {$Form_Submit}>&nbsp;&nbsp;
								<input type="button" name="Submit" value="{$Cancel}" class="greyButton" onclick="javascript:location.href('reservation.php')">
								<!--<input type="submit" name="Submit" value="{$Cancel}" class="nrlButton">-->
								<input type="hidden" name="confirmationNo" value="{$V_ConfirmationNo}"> 
								<input type="hidden" name="toEmail" value="{$Email}"> 
								<input type="hidden" name="fromEmail" value="{$adminEmail}"> 
			 				    <input type="hidden" name="Action" value="{$ACTION}">
								<input type="hidden" name="Start" value="{$Start}">
							</td>
						</tr>
					</table>
				 </td>
			</tr>
		</table>
		<br><br>
		</td>
	</tr>
</table>
</td>
</tr>
</table>
</form>
