<table border="0" cellpadding="0" cellspacing="0" width="778" align="center">
<form name="frmReservation" action="{$A_Action}" method="post">
    <tr> 
      <td> <table border="0" cellpadding="0" cellspacing="1" width="778">
          <tr>
            <td class="successMsg">{$Message}</td>
          </tr>
          <tr>
            <td>
			<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#FFFFFF">
				<tr>
				  <td bgcolor="#FFFFFF">
					  <table width="100%" border="0" align="center" cellpadding="1" cellspacing="1">
						<!--tr> 
						  <td colspan="6" height="1" bgcolor="#000066"></td>
						</tr>
						<tr>
							<td colspan="2"><a href="JavaScript: Frame_Click('user.php');" class="BigWhiteLink">&nbsp;>>&nbsp;&nbsp;{L_User_Details}</a></td>						
						</tr>
						<!--tr>
							<td colspan="2"><a href="JavaScript: Frame_Click('transferreservation.php');" class="BigWhiteLink">&nbsp;>>&nbsp;{L_Transfer}</a></td>						
						</tr-->
						<!--tr> 
						  <td colspan="6" height="1" bgcolor="#000066"></td>
						</tr-->
						<tr> 
                        <td colspan="6" height="700" width="778" align="center">
							<iframe name="mainframe" id="mainframe" width="100%" height="100%" border="0" frameborder="0" scrolling="auto" src="user.php"></iframe></td>
                      	</tr>
						<tr>
						  <td colspan="6">&nbsp;</td>
						</tr>
					  </table>
				  </td>
			  </tr>
			</table>
			</td>
          </tr>
        </table>
        <input type="hidden" name="Action">
		<input type="hidden" name="file_name">
	  </td>
    </tr>
  </form>
</table>
