<script>
	var Confirm_Delete = '{$Confirm_Delete}';
</script>


<table border="0" cellpadding="0" cellspacing="1" width="100%" class="stdTableBorder" height="97%">
	<tr>
		<td class="stdSectionHeader">
			<table border="0" cellpadding="0" cellspacing="1" width="100%">
				<tr>
					<td class="stdSection" width="1%"><img src="{$Templates_Image}icon_master.gif" height="16"></td>
					<td class="stdSection" width="99%">Reservation</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top" align="center">
			<table border="0" cellpadding="1" cellspacing="2" width="95%">
				<tr><td>&nbsp;</td></tr>
				<tr>
					<td>
						Manage your reservations.
					</td>
				</tr>
				<tr><td class="successMsg" align="center">&nbsp;{$succMessage}</td></tr>
			</table>
<table border="0" cellpadding="0" cellspacing="0" width="750">
<form name="frmTransferCart" action="{A_TransferCart}" method="post">
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="1" width="100%">
				<tr><td colspan="8" height="5"></td></tr>
				<tr>
					<td align="center" valign="top">
				<table border="0" cellpadding="2" cellspacing="2" width="98%">
				<tr><td colspan="8" height="1" bgcolor="#000066"></td></tr>
                <tr> 
                  <td colspan="8" class="blueHeader" align="left">&nbsp;{Transfer_Cart_Details} -> {Firstname} {Lastname} </td>
                </tr>
				<tr><td colspan="8" height="1" bgcolor="#000066"></td></tr>
				<tr>
           			 <td class="successMsg" colspan="8">{Message}</td>
          		</tr>
				 <tr>
                  <td colspan="2">&nbsp;</td>
                </tr>
				<tr><td colspan="7" height="5"></td></tr>
                <tr>
					<td class="blueHeader" width="7%" height="20" align="center">{SrNo}</td>
					<td class="blueHeader" width="15%" height="20" align="center"><a href="file://///Dotnet/Websites/bluecaribbean/adminPanel/templates/transfercart.php?&amp;user_id={user_id}&amp;SortBy=transferRequestNo&amp;start={start_record}" class="whiteLink1">{L_transferRequestNo}</a> {imgSortNo}</td>
					<td class="blueHeader" width="10%" align="center"><a href="file://///Dotnet/Websites/bluecaribbean/adminPanel/templates/transfercart.php?&amp;user_id={user_id}&amp;SortBy=trStatus&amp;start={start_record}" class="whiteLink1">{L_transferStatus}</a> {imgSortStatus}</td>
					<td class="blueHeader" width="23%" align="center">{L_Destinations}</td>
					<td class="blueHeader" width="20%" colspan="2" align="center">{Action}</td>
                </tr>
                <tr><td colspan="7"  class="successMsg">{Notfound_Message}</td></tr>
				<!-- START BLOCK : B_Cart_Info -->
					<tr>
						<td class="List_B" width="7%" align="center" height="20">{Sr_No}</td>
						<td class="List_B" width="15%" align="center">{V_transferRequestNo}</td>
						<td class="List_B" width="10%" align="center"><b>{V_transferStatus}</b></td>
						<td class="List_B" width="23%" align="center">{V_transferOrgin} <img src="{imagepath}/{Transfer_Image}" border="0"> {V_transferDestination}</td>
						<td class="List_B" width="10%" align="center">
							<a href="JavaScript: Show_Click('{cartId}');" class="actionLink">{View_Details}</a>
						</td>
						<td class="List_B" width="10%" align="center">
							<a href="JavaScript: Delete_Click('{cartId}','{carttranId}');" class="actionLink">{Delete}</a>
						</td>
					</tr>
				<!-- END BLOCK : B_Cart_Info -->
               <tr>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2" height="10"></td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                  <td align="left"> 
                    <input type="hidden" name="Action" value="{ACTION}"> 
					<input type="hidden" name="user_id" value="{user_id}"> 
					<input type="hidden" name="carttranId"> 
					<input type="hidden" name="cartId"> 
                    <input type="hidden" name="Start" value="{Start}"> </td>
                </tr>
              </table>
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
			</table>
        </td>
	</tr>
	</form>
</table>		</td>
	</tr>

</table>



