<table border="0" cellpadding="0" cellspacing="1" width="100%" class="stdTableBorder" height="97%">
	<tr>
		<td class="stdSectionHeader">
			<table border="0" cellpadding="0" cellspacing="1" width="100%">
				<tr>
					<td class="stdSection" width="1%"><img src="{$Templates_Image}icon_master.gif" height="16"></td>
					<td class="stdSection" width="99%">Reservation</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top" align="center">
			<table border="0" cellpadding="1" cellspacing="2" width="95%">
				<tr><td class="successMsg" align="center">&nbsp;{$succMessage}</td></tr>
			</table>
<table border="0" cellpadding="0" cellspacing="0" width="750">
<form name="frmUser" action="{$A_User}" method="post">
 <tr>
	<td>
      <table border="0" cellpadding="0" cellspacing="1" width="100%">
		<tr><td colspan="5" height="5"></td></tr>
		   <tr>
			  <td align="center" valign="top">
				<table border="0" cellpadding="2" cellspacing="2" width="98%">
<!--					<tr> 
					  <td colspan="5" height="1" bgcolor="#000066"></td>
					</tr>
-->					<tr> 
					  <td colspan="5" class="blueHeader">&nbsp;{$L_User_Details} -> {$Firstname} {$Lastname}</td>
					</tr>
			<!--		<tr> 
					  <td colspan="5" height="1" bgcolor="#000066"></td>
					</tr>-->
 				<tr>
					 <td colspan="2">&nbsp;</td>
				</tr>
				<tr><td colspan="6" height="5"></td></tr>
				<tr> 
                  <td class="fieldLabelRight" valign="top">{$L_Email} :</td>
				  <td class="fieldLabelLeft">{$userName}</td>
                </tr>
		        <tr> 
                  <td class="fieldLabelRight" valign="top">{$L_Name} :</td>
                  <td class="fieldLabelLeft">{$Firstname} {$Lastname}</td>
                </tr>
			     <!--tr> 
                  <td class="fieldLabelRight">{$L_Email} :</td>
                  <td class="fieldLabelLeft"> {$V_Email} </td>
                 </tr-->
                <tr> 
                  <td class="fieldLabelRight" valign="top">{$L_Address} :</td>
                  <td class="fieldLabelLeft">{$V_Address1}</td>
                </tr>
<!--		    <tr> 
  	               <td class="fieldLabelRight" valign="top">{$L_Address} 2 :</td>
                   <td class="fieldLabelLeft">{$V_Address2}</td>
                </tr>
-->                <tr> 
                  <td class="fieldLabelRight">{$L_Country} :</td>
                  <td class="fieldLabelLeft"> {$CountryName} </td>
                </tr>
                <tr> 
                  <td class="fieldLabelRight">{$L_City} :</td>
                  <td class="fieldLabelLeft">{$V_City}</td>
                </tr>
                <tr> 
                  <td class="fieldLabelRight">{$L_State} :</td>
                  <td class="fieldLabelLeft">{$V_State}</td>
                </tr>
                <tr> 
                  <td width="31%" class="fieldLabelRight">{$L_Zip} :</td>
                  <td width="69%" class="fieldLabelLeft">{$V_Zip}</td>
                </tr>
                <tr> 
                  <td class="fieldLabelRight">{$L_Phone_Number} :</td>
                  <td class="fieldLabelLeft"> {$V_Phone_Number} </td>
                </tr>
                <tr>
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2" height="10"></td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                  <td align="left"> 
				  	<input type="button" name="Submit" value="{$Back}" class="greyButton" onclick="javascript:location.href('reservation.php')">
                    <input type="hidden" name="Action" value="{$ACTION}"> 
					<input type="hidden" name="user_id" value="{$user_id}"> 
					<input type="hidden" name="Start" value="{$Start}"> </td>
                </tr>
              </table>
					</td>
				</tr>
				<tr><td>&nbsp;</td></tr>
			</table>
        </td>
	</tr>
	</form>
</table>		</td>
	</tr>

</table>




