      <table width="1000" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="20">&nbsp;</td>
          <td width="722" valign="top"><table width="811" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="10" class="grey-left">&nbsp;</td>
              <td width="702" valign="top" class="grey-center"><table width="621" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td><table width="861" border="0" cellspacing="0" cellpadding="0">
                  {if $lng == "en"}
                    <tr>
                      <td width="861" class="heading-grey"><img src="images/arrow-top.gif" width="12" height="14" /> Check Our Rates <span class="heading-red"><em>Online Pay or at Arrival</em></span> </td>
                    </tr>
                    <tr>
                      <td class="warea">

{else}
<tr>
                      <td width="861" class="heading-grey"><img src="images/arrow-top.gif" width="12" height="14" /> Nuestras Tarifas <span class="heading-red"><em>Pagos en linea o al llegar</em></span> </td>
                    </tr>
                    <tr>
                      <td class="warea">
{/if}
