<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>:::Welcome to Cancun-Transfers.com:::</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
	<link href="{cssSiteroot}/style.css" rel="stylesheet" type="text/css">
<body>
<table width='100%' border='0' align='center' cellpadding='0' cellspacing='0' bgcolor='FFFFFF'>
					      <tr>							  
								 <td>&nbsp;</td>
						  </tr>
						  <tr>
								<td valign='top' width='100%'>
										<font size='2' face='Verdana, Arial, Helvetica,sans-serif'>Dear {$name},<br></font>
										    <font face='Verdana, Arial, Helvetica, sans-serif' size='2'>
											 <br>
											 <br>
											   Welcome to Cancun-Transfers.com,<br><br><br>
												<hr>
											 </font> 
											   <table border='0' cellpadding='2' cellspacing='2' width='98%'>
												<tr>
												  <td colspan='5' align='left' bgcolor='#007ABD'><font face='Verdana, Arial, Helvetica, sans-serif' size='2' color='#ffffff'><b>&nbsp;Your Resevation Detail</b></font></td>
												</tr>	
												<tr>
													<td colspan='4' align='right'>{$L_Your_Password} ($):</td>
													<td  align='center'>&nbsp;&nbsp;{$password}</td>
												</tr>
												<tr><td colspan='5'>&nbsp;</td></tr>
											</table>											

											<br><hr>	
										  <font face='Verdana, Arial, Helvetica, sans-serif' size='2'><br>
														  Thank You,<br><br>
														  Regards,<br>
														  Cancun-Transfers Team.
										  </font>
										  <font size='2' face='Verdana, Arial, Helvetica, sans-serif'><br>
										  </font> 
								</td>
						   </tr>
				   <tr><td>&nbsp;</td></tr>
		 </table>
</body>
</html>
