<script language="JavaScript">
	var msgEmptyConfirmationNo	=	'{$msgEmptyConfirmationNo}'
</script>


<form name="frmUser" action="{$A_User}" method="post">
<table width="100%" height="48" border="0" cellspacing="0">
		<tr>
			<td>&nbsp;</td>
		</tr>
        <tr>
           <td width="100%" valign="top">
			   <h1 align='justify' class='style6 Estilo1 Estilo8'>&nbsp;&nbsp;&nbsp;{$L_Forgot_Password}</h1>
           </td>
        </tr>
        <tr>
           <td valign="top"><div align="justify">
				<table width="350" border="0" align="center" cellspacing="0">
					<tr><td colspan="2" class="errorMsg" align="center"><div align="center">{$ErrMessage}</div></td></tr>
					<tr><td colspan="2" class="successMsg" align="center"><div align="center">{$Message}</div></td></tr>
				 </table>
				 <br>
				<table width="286" height="114" border="0" align="center" cellspacing="0">
				  <tr bgcolor="#007ABD">
					<td colspan="2"><div align="center"><span class="texto_content"><span class="Estilo25">{$L_Forgot_Password} </span></span></div></td>
				  </tr>
				  <tr bgcolor="#EFEFEF">
					<td width="125"><div align="right" class="texto_content">{$L_ConfirmationNo} </div></td>
					<td width="157"><input type="text" name="confirmationNo"  value="{$confirmationNo}"></td>
				  </tr>
				  <tr bgcolor="#EFEFEF">
					<td colspan="2"><div align="center">
						<input type="submit" name="Submit" value="{$Submit}" class="texto_content" onClick="javascript: return Form_Submit(document.frmUser);">&nbsp;&nbsp;
					</div></td>
				  </tr>
				</table>
             </span></p>
             </div></td>
         </tr>
       </table>
</form>	   
