<table border="0" cellpadding="1" cellspacing="1" width="100%">
	<tr>
		<td width="100%" valign="top" align="center">
			<table width="100%" height="100%" border="0" cellspacing="0">
				<tr>
					<td>
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top">
									<table width="92%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="top">
												<table border="0"  cellpadding="0" cellspacing="1" width="100%">
												<form name="frmLinkCategory" action="{$A_Action}" method="post">
													<tr>
														<td>
															<table border="0" cellpadding="0" cellspacing="1" width="100%">
																<tr>
																	<td colspan="2" class="texto_content">
																		<h1 align='justify' class='style6 Estilo1 Estilo8 Estilo39'>{$L_Link_Heading}</h1>
																	</td>
																</tr>
<!--																<tr>
																	<td colspan="2" align="left">
																		<div align="justify">
																			<p align='justify' class='texto_content'>
																				<SPAN class='texto_content Estilo6'>
																					<span class='Estilo24'>
																						{$L_Step_Message}
																					</span>
																				</SPAN>
																			</p>
																		</div>
																	</td>
																</tr>
																<tr><td colspan="2">&nbsp;</td></tr>
																<tr><td colspan="2">&nbsp;</td></tr>																
-->																
																<tr>
																	<TD class="texto_content"><div align='justify' class='style6 Estilo1 Estilo8 Estilo39'><font size="2"><b>{$L_Link_Directory}</b></font></div></td>
																	<td align="right"><a href="links.php"><strong>{$L_Link_AddLink}</strong></a></td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
													<TD width="100%">
													<table border="0"  cellpadding="0" cellspacing="1" width="100%">
													
														{assign var="col" value=3}
														{foreach name=LinkInfo from=$LinkInfo item=Link}
															{if $smarty.foreach.LinkInfo.iteration|mod:$col==1}
															<tr>
															{/if}
																{if $smarty.get.cat_id == $Link.cat_id}
																<td height="18" bgcolor="#007ABD" width="30%" align="center">
																	<a href="links.php?&cat_id={$Link.cat_id}" class="titleWhiteLink"><strong>{$Link.cat_name|capitalize}</strong></a>
																{else}
																<td height="18" bgcolor="#EBEBEB" width="30%" align="center">
																	<a href="links.php?&cat_id={$Link.cat_id}" class="titleLink"><strong>{$Link.cat_name|capitalize}</strong></a>																
																{/if}
																<input type="hidden" name="cat_id" value="{$Link.cat_id}">
																<input type="hidden" name="sub_cat_id" value="{$Link.sub_cat_id}">
																<input type="hidden" name="Action">
																<input type="hidden" name="start" value="{$Start}">																</td>
															{if $smarty.foreach.LinkInfo.iteration|mod:$col==0}
															</tr>
															{/if}
															{foreachelse}
															<tr><td colspan="7">{$no_records}</td></tr>	
														{/foreach}

													</table>
												
													<table border="0" cellpadding="2" cellspacing="2" width="100%" height="100%">
                                                      <tr>
                                                        <td colspan="6" height="20"></td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                              <td class="texto_content"><div align='justify' class='style6 Estilo1 Estilo8 Estilo39'><font size="2"><b>{$Category_Name}&nbsp;({$Total_Links})</b></font></div></td>
                                                              <td align="right">&nbsp;</td>
                                                            </tr>
                                                        </table></td>
                                                      </tr>
													  {if $No_Record_Found}
													  <tr>
														<td colspan="6" align="center" class="errorMsg">{$No_Record_Found}</td>
													  </tr>
													  <tr>
														<td height="20" colspan="6">&nbsp;</td>
													  </tr>
													  {/if}


													  
													  {foreach name=LinkDtlInfo from=$LinkDtlInfo item=LinkDtl}
													  <tr bgcolor="#EBEBEB">
													  	<td width="100%" colspan="3">
															<table width="100%" cellpadding="0" cellspacing="0" border="0">
															  <tr>
																<td width="100%" align="left" valign="top">
																	<div align="left">
																		<a name="urllink" class="titleLink" href="{$LinkDtl.link_url}" target="_blank"><strong>{$LinkDtl.link_title|capitalize}</strong></a>
																		<br>
																		{$LinkDtl.link_desc}
																	</div>
																</td>
															  </tr>
															</table>
														</td>
													  </tr>
													  {/foreach}


													  
													  {foreach name=LinkInfo from=$LinkInfo item=Link}
													  <tr>
														<td width="13%" height="20" align="center">{$Link_No}</td>
														<td width="1%"  align="right">&nbsp;</td>
														<td width="86%" height="20"><span class="texto_content"><a href="{$Link.link_url}" target="_blank"><strong>{$Link.link_title|capitalize}</strong></a></span></td>
													  </tr>
													  <tr>
														<td colspan="2" align="right">&nbsp;</td>
														<td><span class="texto_content"><a href="{$Link.link_url}" target="_blank"><strong>{$Link.link_url}</strong></a></span></td>
													  </tr>
													  <tr>
														<td colspan="2" align="right">&nbsp;</td>
														<td><span class="texto_content">{$Link.link_desc}</span></td>
													  </tr>
													  {/foreach}
													  <tr>
														<td colspan="6" height="20"><input type="hidden" name="cat_id2" value="{$cat_id}" />
															<input type="hidden" name="sub_cat_id2" value="{$sub_cat_id}" />
															<input type="hidden" name="Action2" />
															<input type="hidden" name="start2" value="{$Start}" />    </td>
													  </tr>
													  <tr>
														<td colspan="6" height="20"></td>
													  </tr>
													  <tr>
														<td colspan="6" height="20"></td>
													  </tr>
													  <tr>
														<td colspan="6" align="right" class="pageLink">{$Page_Link}</td>
													  </tr>
                                                    </table></td>
													</tr>
												</form>
												</table>
											
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>