<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr><td class="message" align="center">&nbsp;{$message}</td></tr>
	<tr><td height="5"></td></tr>
	<tr>
		<td valign="top" width="90%">          
		<form action="ground_transportation_rates.php" method="post" name="theform">
		<table border="0" cellpadding="0" cellspacing="2" class="text" width="100%">
			<tr align="right" valign="top" >
				<td width="13%" >&nbsp;&nbsp;</td>
			</tr>
		</table>		
		</form>
		</td>
	</tr>
</table>