<script language="JavaScript">
	var Empty_Email	= '{$Empty_Email}';
	var Valid_Email = '{$Valid_Email}';
</script>

<form name="frmUser" action="{$A_User}" method="post">
<table width="450" height="23" border="0" align="center" cellspacing="0">
	<tr>
		<td width="448" valign="top">
			{$L_Success_Msg}
			<table width="444" height="250" border="0" align="center" cellspacing="0">
				<tr>
					<td width="449" valign="top" background="{$Templates_Image}reservacion_conf.gif"><br><br><br>
						<table width="419" border="0" align="center" cellspacing="0">
							<tr>
							  <td class="errorMsg" align="center">{$ErrMessage}</td>
							</tr>
							<tr>
								<td>
									<div align="center" class="texto_content">
										<p class="texto_content"> 
											{$Message1} 
											<FONT color=#5270a1> {$Confirmation_No}</FONT><BR><BR><BR>
											{$Message2}
										</p>
										<p class="Estilo14">{$Thanks_Msg}</p>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<p align="center" class="texto_content"> </p>
		</td>
	</tr>
</table>
</FORM>
<!-- Google Code for convsite Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1067282632;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "RHuXCMO26GIQyOH1_AM";
var google_conversion_value = 880.00;
var google_conversion_currency = "MXN";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1067282632/?value=880.00&amp;currency_code=MXN&amp;label=RHuXCMO26GIQyOH1_AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
