<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>:::Welcome to Cancun-Transfers.com:::</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
	<link href="{$cssSiteroot}/style.css" rel="stylesheet" type="text/css">
<body>
<table width='100%' border='0' align='center' cellpadding='0' cellspacing='0' bgcolor='FFFFFF'>
	<tr><td>&nbsp;</td></tr>
	<tr>
		<td valign='top' width='100%'>
			<font size='2' face='Verdana, Arial, Helvetica,sans-serif'>Dear Administrator,<br></font>
			<font face='Verdana, Arial, Helvetica, sans-serif' size='2'><br><br>
				Welcome to Cancun-Transfers.com,<br><br><br>
				{$L_TestimonialMsg1} <font color='#184DA5'>{$Name}</font>,<br><br>
				{$L_TestimonialMsg2}<br>
			</font><br>								  
			<font face='Verdana, Arial, Helvetica, sans-serif' size='2'><br>
				Thank You,<br><br>
				Regards,<br>
				{$Name}.
			</font>
		</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
</table>
</body>
</html>
